@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*font-family: 'Roboto', sans-serif;*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.list {
    display: flex;
    gap: 16px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.list a {
    text-decoration: none;
    color: black;
}